<p>login works!</p>

<html>
<head>
    <title>The Login Form</title>
</head>
<body>
    <div class="wrap">
        <form class="login-form" action="">
            <div class="form-header">
                <h3>ADMIN LOGIN</h3>
                <p>Login to search customer details</p>
            </div>
            <!--Email Input-->
            <div class="form-group">
                <input type="text" class="form-input" [(ngModel)]="userid" placeholder="Enter username">
            </div>
            <!--Password Input-->
            <div class="form-group">
                <input type="password" class="form-input" [(ngModel)]="password" placeholder="Enter password">
            </div>
            <!--Login Button-->
            <div class="form-group">
                <button class="form-button" type="submit" (click)="handlelogin()">Login</button>
            </div>
            
        </form>
    </div><!--/.wrap-->
</body>
</html>
